/*
    Author: JY Yu;
    Theme: Restaurant Food Order;
    version: 1.0;
 */

/* CSS (applied) for All */
*{
    margin: 0 0;
    padding: 0 0;
    font-family: "Times New Roman";
    font-size: large;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 25px;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-white{
    color: white;
}



.clearfix{
    clear: both;
    float: none;
}

a{
    color: #476600;
    text-decoration: none;
}
a:hover{
    color: #00661c;
}
.btn-primary{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #476600;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color: #00661c;
}
h2{
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 20px;
    left: 40%;
}
fieldset{
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}

.error{
    padding: 2%;
    color: red;
}

.success{
    padding: 2%;
    color: green;
}
/* CSS for navbar section */

.logo{
    width: 10%;
    float: left;
}
.menu{
    line-height: 60px;
}
.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}


/* CSS for Food Search Section */

.food-search{
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}

.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

/* CSS for Categories */
.categories{
    background-color: #ececec;
    padding: 4% 0;
}

.box-3{
    width: 28%;
    float: left;
    margin: 2%;
}


/* CSS for Food Menu */
.food-menu{
    background-color: #ececec;
    padding: 1% 1%;
}
.food-menu-box{
    border: none;
    width: 26%;
    margin: 2%;
    padding: 1%;
    float: left;
    background-color: lightgrey;
    border-radius: 10px;

}

.food-menu-img{
    width: 10%;
    float: left;
}

.food-menu-desc{
    width: 50%;
    float: left;
    margin-left: 8%;
}

.food-price{
    font-size: 1.2rem;
    margin: 2% 0;
}
.food-detail{
    font-size: 1rem;
    color: #747d8c;
}


/* CSS for Social */
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}

/* for Order Section */
.order{
    width: 50%;
    margin: 0 auto;
}
.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%;
    font-weight: bold;
}

/* for Register Section */
.main-content{
    background-color: #f1f2f6;
    padding: 3%;
}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
    font-family: "Times New Roman", "微软雅黑 Light";
}

.tbl-30{
    width:30%;
}

.btn-primary{
    background-color: #005566;
    padding: 2%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.btn-primary:hover{
    background-color: #004766;
}


